
body {
  margin:		0;
  padding:		0;
  margin-bottom:	1em;

  color:		#222;

  background-color:	#fff;
  /*background-image:	url(PhEDEx-banner.jpg);*/
  background-repeat:	repeat-x;

  font-size:		80%;
  font-family:		'Lucida Grande', verdana, helvetica, arial, sans-serif;
  line-height:		1.6em;
}

h1 {
  margin:		0;
  padding:		0;
  margin-top:		1em;
  margin-bottom:	0.5em;
  font-size:		2em;
  font-weight:		normal;
  letter-spacing:	-0.04em;
}

h2 {
  margin:		0;
  padding:		0;
  margin-top:		1em;
  margin-bottom:	0.5em;
  font-size:		1.5em;
  font-weight:		normal;
  letter-spacing:	-0.04em;
}

iframe {
  border:		none;
}

img {
  border:		none;
  position: relative;
  top: 20px;
}

p {
  margin-bottom:	1em;
}

ul {
  margin-left:		1em;
  margin-top:		1em;
  margin-bottom:	1em;
  /** list-style-type:	bullet; **/
}

ul li {
  margin-left:		1em;
  padding-left:		1em;
  /** background-image:	url(/images/bullet.gif); **/
  /** background-repeat:	no-repeat;  **/
  /** background-position:	0 0.55em; **/
}

ol {
  margin-left:		1em;
  margin-bottom:	1em;
  padding-left:		1em;
}

ol li {
  margin-left: 		0.5em;
  padding-left:		0.5em;
}

pre, code {
  font-size:		1.2em !important;
}

pre {
  text-align:		left;
  line-height:		1.3em;
  overflow:		auto; 
  margin-bottom:	10px;
  padding:		10px;
  background:		#eee;
  border:		1px solid #ccc;
}

pre.wide
{
  width:		100%;
  overflow:		visible;
  background:		none;
  border:		none;
}

div.menu {
  margin: 0 0 0 1em;
  padding: 0 0 0 0;
  background-color:  #EBFAE5;
  border:  2px solid  #E4F1DB;
  display: inline;
  width: 200px;
  top: 0px;
  left: 100px;
  position: absolute;
}

div.menu a {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color:         #32a804;
  margin: 0 0 0 .5em;
  padding: 0 0 0 0;
}

div.menuopt {
  margin:     0 0 0 1em;
  padding:    0 0 0 0;
  background-color:   #EBFAE5;
  border:   2px solid #E4F1DB;
  width:    30%;
  /*position: relative;*/
  position: absolute;
  top: 20px;
  /*left: -15%;*/
  visibility: hidden;
  z-index: 2;
}

div.menuopt ul {
  list-style-type:  none;
  display:          inline;
  margin:           0;
  padding:          0;
  padding-top:      5px;
  padding-bottom:   5px;
}

div.menuopt ul li {
  display:     list-item;
  margin:      .5em 0;
  padding:     .5em 0;
  padding-bottom: 0;
  padding-top: 0;
}

div.menuopt ul li a {
  padding-left:  .5em;
  color:         #32a804;
  border-left:   1px solid #32a804;
}



